USE [SegurosDB]
GO
/****** Object:  Table [dbo].[Constante]    Script Date: 11/10/2018 03:03:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Constante](
	[IdConstante] [smallint] NOT NULL,
	[IdPadre] [smallint] NULL,
	[Constante] [varchar](128) NULL,
	[Descripcion] [varchar](256) NULL,
	[CodigoAgrupador] [varchar](20) NULL,
	[Orden] [smallint] NOT NULL,
	[IdEstado] [smallint] NOT NULL,
	[osLastLogin] [varchar](32) NOT NULL,
	[osLastDate] [datetime] NOT NULL,
	[osLastApp] [varchar](64) NOT NULL,
	[osFirstLogin] [varchar](32) NOT NULL,
	[osFirstDate] [datetime] NOT NULL,
	[osFirstApp] [varchar](64) NOT NULL,
	[Tag] [varchar](32) NULL,
 CONSTRAINT [PK_Constante] PRIMARY KEY CLUSTERED 
(
	[IdConstante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [MAESTRO]
) ON [MAESTRO]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Constante] ([IdConstante], [IdPadre], [Constante], [Descripcion], [CodigoAgrupador], [Orden], [IdEstado], [osLastLogin], [osLastDate], [osLastApp], [osFirstLogin], [osFirstDate], [osFirstApp], [Tag]) VALUES (1, NULL, N'Tipo de Poliza', N'Asdasdasas', N'TIPOLIZA', 0, 1, N'DISTRILUZ\312des06', CAST(N'2013-12-03 11:06:59.950' AS DateTime), N'Microsoft SQL Server Management Studio', N'DISTRILUZ\312des08', CAST(N'2013-11-06 16:05:58.237' AS DateTime), N'Microsoft SQL Server Management Studio - Query', NULL)
INSERT [dbo].[Constante] ([IdConstante], [IdPadre], [Constante], [Descripcion], [CodigoAgrupador], [Orden], [IdEstado], [osLastLogin], [osLastDate], [osLastApp], [osFirstLogin], [osFirstDate], [osFirstApp], [Tag]) VALUES (2, 1, N'Patrimoniales', N'Ejempl', N'TIPOLIZA', 1, 1, N'DISTRILUZ\312delaware03', CAST(N'2018-03-26 17:23:11.300' AS DateTime), N'EntityFramework', N'DISTRILUZ\312des08', CAST(N'2013-11-06 16:06:31.037' AS DateTime), N'Microsoft SQL Server Management Studio - Query', NULL)
INSERT [dbo].[Constante] ([IdConstante], [IdPadre], [Constante], [Descripcion], [CodigoAgrupador], [Orden], [IdEstado], [osLastLogin], [osLastDate], [osLastApp], [osFirstLogin], [osFirstDate], [osFirstApp], [Tag]) VALUES (3, 1, N'Personales', N'sdf', N'TIPOLIZA', 2, 1, N'DISTRILUZ\312delaware02', CAST(N'2018-03-19 19:29:48.830' AS DateTime), N'EntityFramework', N'DISTRILUZ\312des08', CAST(N'2013-11-06 16:06:42.003' AS DateTime), N'Microsoft SQL Server Management Studio - Query', NULL)
GO
ALTER TABLE [dbo].[Constante] ADD  CONSTRAINT [DF_dbo_Constante_osLastLogin]  DEFAULT (suser_sname()) FOR [osLastLogin]
GO
ALTER TABLE [dbo].[Constante] ADD  CONSTRAINT [DF_dbo_Constante_osLastDate]  DEFAULT (getdate()) FOR [osLastDate]
GO
ALTER TABLE [dbo].[Constante] ADD  CONSTRAINT [DF_dbo_Constante_osLastApp]  DEFAULT (app_name()) FOR [osLastApp]
GO
ALTER TABLE [dbo].[Constante] ADD  CONSTRAINT [DF_dbo_Constante_osFirstLogin]  DEFAULT (suser_sname()) FOR [osFirstLogin]
GO
ALTER TABLE [dbo].[Constante] ADD  CONSTRAINT [DF_dbo_Constante_osFirstDate]  DEFAULT (getdate()) FOR [osFirstDate]
GO
ALTER TABLE [dbo].[Constante] ADD  CONSTRAINT [DF_dbo_Constante_osFirstApp]  DEFAULT (app_name()) FOR [osFirstApp]
GO
ALTER TABLE [dbo].[Constante]  WITH NOCHECK ADD  CONSTRAINT [FK_Constante_Constante] FOREIGN KEY([IdPadre])
REFERENCES [dbo].[Constante] ([IdConstante])
GO
ALTER TABLE [dbo].[Constante] CHECK CONSTRAINT [FK_Constante_Constante]
GO
ALTER TABLE [dbo].[Constante]  WITH NOCHECK ADD  CONSTRAINT [FK_Constante_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdRegistro])
GO
ALTER TABLE [dbo].[Constante] CHECK CONSTRAINT [FK_Constante_Estado]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena el código del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante', @level2type=N'COLUMN',@level2name=N'IdConstante'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena el codigo del registro padre.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante', @level2type=N'COLUMN',@level2name=N'IdPadre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena el nombre de la constante.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante', @level2type=N'COLUMN',@level2name=N'Constante'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena la descripcion de la constante.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante', @level2type=N'COLUMN',@level2name=N'Descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena el codigo agrupador de los registro de un mismo maestro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante', @level2type=N'COLUMN',@level2name=N'CodigoAgrupador'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena el orden de los registro sobre como se van a mostrar.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante', @level2type=N'COLUMN',@level2name=N'Orden'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante', @level2type=N'COLUMN',@level2name=N'IdEstado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena un valor aterno parea el registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante', @level2type=N'COLUMN',@level2name=N'Tag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que permite administrar multiples tablas maestras, del tipo registro cabecera detalle.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Constante'
GO
